@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "proxima";
  src: url("../public/fonts/proxima.ttf");
}
@font-face {
  font-family: "georgia";
  src: url("../public/fonts/Georgia.ttf");
}
@font-face {
  font-family: "georgiaitalic";
  src: url("../public/fonts/georgiaitalic.ttf");
}
